input[type="text"]
{
	padding: 0 25px;
	border-radius: 25px 25px 25px 25px;
	background: white;

}

button
{
	margin-top: 18px;
	border-radius: 25px 25px 25px 25px;
}
thead{
	background: DodgerBlue;
	color:  white;
	
}
th,td{
	text-align: center;
}
td{
	background: GhostWhite;
	
}
label{
	color:black;
	 font-weight: bold;

}	

#tableBooks{
	margin-top: 30px;
	margin-left: 100px;
	margin-right: 100px;

}

#book{

	
	margin-top: 30px;
	margin-left: 100px;
	margin-right: 100px;
	padding-left: 30px;
	background: GhostWhite;
	border-radius: 5px 5px 5px 5px;
}

