<div id="search" class="container" *ngIf="isFormSearch" >
	<div  class="row">
		<div   class="col s5">
			<div class="card-content">
				<label>Fly From</label>
				  <select class="browser-default" (click)="getFlights()" [(ngModel)]= "origin" (change)="resetSelectDestination()">

				  	<option value="" disabled selected>Choose</option>
				    <option *ngFor="let item of filterUniqueOrigin" value="{{item.origin}}">{{item.origin}}</option>
				  </select>	
			</div>
			<div class="card-content">
				<label>Fly To</label>
				  <select class="browser-default" (click)="getFlightByOrigin(origin)" [(ngModel)]= "destination" >
				  	<option value="" disabled selected>Choose</option>
				     <option *ngFor="let item of filterUniqueDestination" value="{{item.destination}}">{{item.destination}}</option> 
				  </select>	
			</div>
		</div>	

		<div class="col s5" style="padding-left: 60px; margin-left: 10px">
			<div class="card-content">
				<label>Select Date</label>
				<input type="date" name="setTodaysDate" [(ngModel)]="date">
			</div>
			<div class="card-content">
				<button class="btn waves-effect waves-light" (click)="getFlightMultiParams(origin, destination, date)" 	id="button"	name="action">Search Flight
   				<i class="material-icons right">send</i>
  				</button>
			</div>
		</div> 
	</div>
</div>

 <ul id="resulSearch" class="collection with-header" *ngIf="isAdvancedSearch">
   <div id="divAvailable"><h4>Available Flights</h4></div>	
    <a class="collection-item avatar" *ngFor="let flight of listAdvancedSearch" (click)="showDataToBook(flight)">
      <i class="material-icons circle">airplanemode_active</i>
      <span class="title">From {{flight.origin}} to {{flight.destination}}</span>
      <h6>Date: {{flight.date}}</h6>
      <h5>Hour: <b>{{flight.hour}}</b></h5>
      <h6>Cost (COP): {{flight.cost}}</h6>
    </a> 
  </ul>





<div   class="container" *ngIf="showFormBook">
	<div class="row">
		<div  class="col s8">
			<form action="">
					<h4 >Personal Information</h4>
					<input type="text" name="idBook" [(ngModel)]="book.idBook" placeholder="Enter your ID">
					<input type="text" name="nameBook" [(ngModel)]="book.nameBook" placeholder="Enter your Name">
					<button class="btn waves-effect waves-light" id="button" (click)="getBookById(book.idBook)">book flight</button>
			</form>
		</div>

		<div  class="input-field col s3"></div>
		<div  class="input-field col s3">
			<table >
		        <thead>
		          <tr>
		              <th>Your Flight</th>
		          </tr>
		        </thead>

		        <tbody>
		          <tr>
		            <td ><b>{{flight.origin}} => {{flight.destination}}</b>
		            </td>
		          </tr>
		          <tr>
		            <td>{{flight.date}}</td>
		          </tr>
		          <tr>
		            <td>{{flight.hour}}</td>
		          </tr>
		          <tr>
		            <td><b>Total cost: {{flight.cost}}</b></td>
		          </tr> 
		        </tbody>
	      </table>
		</div>
  	</div>
</div>







  









  
            